h1, h2, h3, h4 { <br>
 color: springgreen;
}

body { <br>
 padding: 0 60px 60px 60px;
    text-align: justify;
    background-color: #272727;
    color: whitesmoke;
}

code { <br>
 color: orange;
}

.code-html { <br>
 letter-spacing: 0.15em;
}

.t { <br>
 color: orange;
}

.e { <br>
 padding-left: 1em;
}

.e2 { <br>
 padding-left: 2em;
}

.e3 { <br>
 padding-left: 3em;
}

.code-css { <br>
 font-size: 1.1em;
    letter-spacing: 0.15em;
}

.s { <br>
 color: yellow;
}

.p { <br>
 color: chartreuse;
    padding-left: 20px;
}

.v { <br>
 color: cyan;
}

.tabela { <br>
 border: 1px solid black;
    width: 100%;
    height: 100%;
    display: relative;
}

.tabela td { <br>
 width: 50%;
}

.tabela, .tabela tr, .tabela tr td, .tabela tr th { <br>
 border: 2px solid black;
}

.menu { <br>
 padding: 0;
    margin: 0;
    list-style-type: none;
}

.menu2 li a { <br>
 text-decoration: none;
}

.menu3 li { <br>
 display: inline;
}

.menu4 { <br>
 background-color: green;
}

.menu5 li a { <br>
 display: inline-block;
    padding: 1em;
}

.menu6 li a:hover { <br>
 background-color: darkgreen;
}

.trans { <br>
 background-color: darkgreen;
    width: 50px;
    height: 200px;
    transition: width 3s;
}

.trans:hover { <br>
 width: 100%;
}

.trans1 { <br>
 background-color: darkgreen;
    width: 50px;
    height: 200px;
    transition: width 3s;
    transition-timing-function: linear;
}

.trans1:hover { <br>
 width: 100%;
}

.trans2 { <br>
 background-color: darkgreen;
    width: 50px;
    height: 200px;
    transition: width 3s;
    transition-timing-function: ease-in-out;
}

.trans2:hover { <br>
 width: 100%;
}

.trans3 { <br>
 background-color: darkgreen;
    width: 50px;
    height: 200px;
    transition: width 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.trans3:hover { <br>
 width: 100%;
}

.trans4 { <br>
 background-color: darkgreen;
    width: 50px;
    height: 50px;
    transition: width 3s ease-out 1s, height 3s linear 0s;
}

.trans4:hover { <br>
 width: 100%;
    height: 200px;
    background-color: green;
    color: black;
}

.code{ <br>
 color: yellowgreen;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}